.vs/
bin/
XppMetadata/
BuildProjectResult.err.xml
BuildProjectResult.log
BuildProjectResult.xml
Projects/SIMSTSizeBase/SIMSTSizeBase/obj/
BuildModelResult.err.xml
BuildModelResult.log
BuildModelResult.xml