.vs/
bin/
XppMetadata/
BuildProjectResult.err.xml
BuildProjectResult.log
BuildProjectResult.xml
Projects/SIMSStartProcessing/obj/
BuildModelResult.err.xml
BuildModelResult.log
BuildModelResult.xml
SIMSStartProcessing.xref
BPCheck.xml
CompileLabels.xml